# Dependencies
node_modules/

# Compiled TypeScript
dist/

# Go
client/version.go

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Debug / logs
*.log
npm-debug.log*

# Env
.env
.env.local

.history/